.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
Algo/algo.js
Algo/algoW1D2.js
Algo/algoW1D3.js
Algo/algoW3D2.js
Algo/algoW3D3.js
Algo/minToFront.js
Algo/revers.js
python_stack/_python/flask/flask_fundamentals/dojo_fruit_store
python_stack/_python/flask/flask_fundamentals/dojo_fruit_store.zip
python_stack/_python/python_fundamentals/debug.py
Yellow_Belt/EasyBay/EasyBay.zip
Yellow_Belt/EasyBay/EasyBay/index.html
Yellow_Belt/EasyBay/EasyBay/script.js
Yellow_Belt/EasyBay/EasyBay/style.css
Yellow_Belt/EasyBay/EasyBay/assets/aeonium-s.jpg
Yellow_Belt/EasyBay/EasyBay/assets/alert-dark.png
Yellow_Belt/EasyBay/EasyBay/assets/aloe-m.jpg
Yellow_Belt/EasyBay/EasyBay/assets/aloe-s.jpg
Yellow_Belt/EasyBay/EasyBay/assets/arrow-light.png
Yellow_Belt/EasyBay/EasyBay/assets/cactus-s.jpg
Yellow_Belt/EasyBay/EasyBay/assets/cart-dark.png
Yellow_Belt/EasyBay/EasyBay/assets/echeveria-s.jpg
Yellow_Belt/EasyBay/EasyBay/assets/leaf.png
Yellow_Belt/EasyBay/EasyBay/assets/search-dark.png
Yellow_Belt/EasyBay/EasyBay/assets/sedum-s.jpg
Yellow_Belt/EasyBay/EasyBay/assets/sempervivum-s.jpg
Yellow_Belt/EasyBay/EasyBay/assets/succulents-1.jpg
Yellow_Belt/EasyBay/EasyBay/assets/succulents-2.jpg
Yellow_Belt/JustDesset/JustDesset.zip
Yellow_Belt/JustDesset/JustDesset/index.html
Yellow_Belt/JustDesset/JustDesset/script.js
Yellow_Belt/JustDesset/JustDesset/style.css
Yellow_Belt/JustDesset/JustDesset/imgs/cake.png
Yellow_Belt/JustDesset/JustDesset/imgs/cookie.png
Yellow_Belt/JustDesset/JustDesset/imgs/creme-brulee.jpg
Yellow_Belt/JustDesset/JustDesset/imgs/heart.png
Yellow_Belt/JustDesset/JustDesset/imgs/ice-cream.png
Yellow_Belt/JustDesset/JustDesset/imgs/macarons.jpg
Yellow_Belt/JustDesset/JustDesset/imgs/orange-tart.jpg
Yellow_Belt/JustDesset/JustDesset/imgs/pie.png
python_stack/_python/flask/flask_fundamentals/dojo_fruit_store
python_stack/_python/flask/flask_fundamentals/dojo_fruit_store
python_stack/django/django_intro/First_Django_Project/First_Django_Project/__pycache__/__init__.cpython-36.pyc
python_stack/django/django_intro/First_Django_Project/First_Django_Project/__pycache__/settings.cpython-36.pyc
python_stack/django/django_intro/First_Django_Project/First_Django_Project/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/First_Django_Project/First_Django_Project/__pycache__/wsgi.cpython-36.pyc
python_stack/django/django_intro/First_Django_Project/single_app/__pycache__/__init__.cpython-36.pyc
python_stack/django/django_intro/First_Django_Project/single_app/__pycache__/admin.cpython-36.pyc
python_stack/django/django_intro/First_Django_Project/single_app/__pycache__/models.cpython-36.pyc
python_stack/django/django_intro/First_Django_Project/single_app/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/First_Django_Project/single_app/__pycache__/views.cpython-36.pyc
python_stack/django/django_intro/First_Django_Project/single_app/migrations/__pycache__/__init__.cpython-36.pyc
python_stack/django/django_intro/project1/app_one/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/project1/app_one/__pycache__/views.cpython-36.pyc
python_stack/django/django_intro/project1/project1/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/project1/app_one/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/project1/app_one/__pycache__/views.cpython-36.pyc
python_stack/django/django_intro/project1/project1/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/project1/app_one/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/project1/app_one/__pycache__/views.cpython-36.pyc
python_stack/django/django_intro/project1/project1/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/Time_Display/time_display/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/Time_Display/time_display/__pycache__/views.cpython-36.pyc
python_stack/django/django_intro/dojo_survey/app_one/__pycache__/__init__.cpython-36.pyc
python_stack/django/django_intro/dojo_survey/app_one/__pycache__/admin.cpython-36.pyc
python_stack/django/django_intro/dojo_survey/app_one/__pycache__/models.cpython-36.pyc
python_stack/django/django_intro/dojo_survey/app_one/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/dojo_survey/app_one/__pycache__/views.cpython-36.pyc
python_stack/django/django_intro/dojo_survey/app_one/migrations/__pycache__/__init__.cpython-36.pyc
python_stack/django/django_intro/dojo_survey/dojo_survey/__pycache__/__init__.cpython-36.pyc
python_stack/django/django_intro/dojo_survey/dojo_survey/__pycache__/settings.cpython-36.pyc
python_stack/django/django_intro/dojo_survey/dojo_survey/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/dojo_survey/dojo_survey/__pycache__/wsgi.cpython-36.pyc
python_stack/django/django_intro/form_test/form_test/__pycache__/__init__.cpython-36.pyc
python_stack/django/django_intro/form_test/form_test/__pycache__/settings.cpython-36.pyc
python_stack/django/django_intro/form_test/form_test/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/form_test/form_test/__pycache__/wsgi.cpython-36.pyc
python_stack/django/django_intro/form_test/formapp/__pycache__/__init__.cpython-36.pyc
python_stack/django/django_intro/form_test/formapp/__pycache__/admin.cpython-36.pyc
python_stack/django/django_intro/form_test/formapp/__pycache__/models.cpython-36.pyc
python_stack/django/django_intro/form_test/formapp/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/form_test/formapp/__pycache__/views.cpython-36.pyc
python_stack/django/django_intro/form_test/formapp/migrations/__pycache__/__init__.cpython-36.pyc
python_stack/django/django_intro/project1/app_one/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/project1/app_one/__pycache__/views.cpython-36.pyc
python_stack/django/django_intro/project1/project1/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/Time_Display/time_display/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/Time_Display/time_display/__pycache__/views.cpython-36.pyc
python_stack/django/django_intro/project1/app_one/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/project1/app_one/__pycache__/views.cpython-36.pyc
python_stack/django/django_intro/project1/project1/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/Time_Display/time_display/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/Time_Display/time_display/__pycache__/views.cpython-36.pyc
python_stack/django/django_intro/counter/counter/__pycache__/__init__.cpython-36.pyc
python_stack/django/django_intro/counter/counter/__pycache__/settings.cpython-36.pyc
python_stack/django/django_intro/counter/counter/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/counter/counter/__pycache__/wsgi.cpython-36.pyc
python_stack/django/django_intro/counter/counterapp/__pycache__/__init__.cpython-36.pyc
python_stack/django/django_intro/counter/counterapp/__pycache__/admin.cpython-36.pyc
python_stack/django/django_intro/counter/counterapp/migrations/__pycache__/__init__.cpython-36.pyc
python_stack/django/django_intro/counter/counterapp/__pycache__/models.cpython-36.pyc
python_stack/django/django_intro/counter/counterapp/__pycache__/urls.cpython-36.pyc
python_stack/django/django_intro/counter/counterapp/__pycache__/views.cpython-36.pyc
python_stack/_python/flask/flask_fundamentals/dojo_fruit_store
