*{
    font-family:'Roboto', serif;

}



.topContainer
{
    /* border: 2px solid; */
    width:700px ;
    margin: 0px auto 0px auto;

}
.header{
    background-color: white;
    color: black;
    /* border: 1px solid; */
    display: flex;
    width: 700px;
    height: 30px;
    /* margin: 0px auto 0px auto; */
    justify-content: space-evenly;
    align-items: flex-start;

}

.favicon{
    width: 30px;
    border-radius: 5px;
    background-color: lightseagreen;
    
}

.title{
    /* border: 1px solid; */
    display: flex;
    margin-top:1px ;
}
.header h1{
    font-size: 20px;
}
.cart{

    width: 30px;
}

.searchinput{
    border-radius: 20px;
    width: 400px;
    height: 30px;
    /* background: url(assets/search-dark.png) no-repeat scroll 7px 7px; */
    /* padding-left:30px; */
}

.menu{
    /* border: 1px solid; */
    margin: 0px auto 0px auto;
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.line{
    display: flex;
    height: 2px;
    width: 700px; 
    background-color: black;
}


.subTitle{
    margin: 20px auto 20px auto;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;


}

.container1{
    /* border: 1px solid; */
    display: flex;
    width: 700px;
    height: 250px;
    margin: 0px auto 0px auto;

}

.left{
/* border: 1px solid; */
display: flex;
width: 66%;
height: 210px;
margin: 0px auto 0px auto;

}


.right{
/* border: 1px solid; */
display: inline-block;
width: 33%;
margin: 0px auto 0px auto;
height: 210px;
}


.bottom{
    /* border: 1px solid; */
    margin: -40px auto 0px auto;
    display: flex;
    width: 700px;
    height: 200px;
    background-color: #a6f4f7fa;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    position: relative;
    /* border-radius: 100%; */
    /* align-items: center; */
}
h6{
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: space-around;
}

.dialogue1, .dialogue2{
    width: 100%;
    background-color: lightseagreen;
    margin-bottom:1px;
    justify-content: center;
}

.dialogue1{
    height: 120px;
    /* border: 2px solid; */
    background-color: white;

}

.right .dialogue1 img{
    height: 120px;
    width: 231px;
}

.dialogue2 p{
    color:  white;
    /* border: 1px solid black; */
    display: flex;
    margin:  0px auto;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.dialogue2{
    height: 50px;
    margin-top:15px ;
}



.box1 ,.box2{
    width: 48%;
    height: 190px;
    display: inline-block;
    background-color: lightseagreen;
    margin: 0px 0;
}



.box1 p{
color:  white;
margin:40px ;
display: flex;
/* border: 1px solid black; */
width: 140px;
justify-content: center;
font-weight: bold;
/* align-items: center; */

}
span{
    color:  white;
    /* border: 1px solid black; */
    width: 140px;
    justify-content: center;
    font-weight: bold;
    display: flex;
    margin: auto;
}
.box2{
    /* border: 2px solid; */
    width: 48%;
    height: 190px;
    display: inline-block;
    background-color: white;
    
}
.box2 img{
    width: 222px;
    height: 190px;
}




.img{
    /* border: 1px solid; */
    width: 90px;  
    height: 90px;
    margin: -40px auto 0px auto;
    background: white;
    border-radius: 100%;


}
.menu a:link{
    color: black;
    text-decoration: none;
}

.cookies{
    border: 2px solid;
    display: flex;
    margin-top:-30px ;
    background-color: white;
    height: 90px;
    justify-content: center;
    align-items: center;


}

.cookies button{
    border: 2px solid black;
    background-color: lightseagreen;
    color: white;
    width: 150px;
    height: 30px;
    margin: 15px;
    box-shadow: 4px 4px 1px black;
    font-size: 15px;
}

.cookies img{
    /* border: 1px solid; */
    width: 40px;
    height: 40px;
    margin: 5px;
    z-index: 1;
    


}

.bottom .img img{
    width: 90px;  
    height: 90px;
    margin: 0px auto 0px auto;
    border-radius: 100%;
}