.container {
    /* border: 1px solid; */
    margin: auto;
    width: 60%;
    text-align: center;
    align-items: center;
}

table,
th,
thead,
td {
    border: 1px solid;
}


table {
    margin: 0 auto;
    /* or margin: 0 auto 0 auto */
}

.line {
    border: 1px solid;
    width: 60%;
    margin: 10px auto;

}

form{
    /* border: 1px solid; */
    text-align: left;
    /* display: flex; */
    width: 550px;
}
input{
    margin-left: 10px;
}