<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}
<table class="table">
    <tr>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Occupation</th>
            <th>Created at</th>
            <th>Updated at</th>
        </thead>
    </tr>
    {% for friend in all_friends %}
    <tr>
        <td>
            {{friend['id']}}
        </td>
        <td>
            {{friend['firstname']}} {{friend['lastname']}}
        </td>
        <td>
            {{friend['occup']}}
        </td>
        <td>
            {{friend['created_at']}}
        </td>
        <td>
            {{friend['updated_at']}}
        </td>
    </tr>
    {% endfor %}
    
</table>

<form action="/" method="post" class="mt-5">
    <label class="form-label" for="fname">FirstName</label>
    <input class="form-control" type="text" name="fname" id="fname">

    <label class="form-label" for="lname">LastName</label>
    <input class="form-control" type="text" name="lname" id="lname">

    <label class="form-label" for="occup">Occupation</label>
    <input class="form-control" type="text" name="occup" id="occup">

    <input class="btn btn-primary m-2" type="submit" value="add" name="add">
</form>
</body>
</html>