{% extends 'base.html'%}
{%block head%}

{%endblock%}
{%block navbar%}

{%endblock%}
{%block content%}
<h1>Add Students</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,message in messages %}
<p class="d-flex justify-content-center text-{{category}}">{{message}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Year</th>
        <th>Actions</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{student['firstname']}}</td>
        <td>{{student['lastname']}}</td>
        <td>{{student['year']}}</td>
        <td><a href="{{student['id']}}">Report Card</a> | <a href="/edit/{{student['id']}}">Add Course Grade</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/addstudent">Add a student</a>
{%endblock%}