{% extends 'base.html'%}



{% block navbar%}
<div class="d-flex justify-content-end m-3">

    <a class="m-2" href="/">Dashboard</a> <span class="m-2">|</span> <a class="m-2" href="/edit/{{grades[0]['Student_id']}}">Add course Grade</a>
</div>
{%endblock%}

{%block content%}
<h1>{{ fullname[0]['firstname'] }} {{ fullname[0]['lastname'] }} Report Card</h1>
<h1>
    <!-- {{grades}} -->

</h1>
<table class="table">
    <tr>
        <th>Course</th>
        <th>Grade</th>
        <th>Comments</thead>
    </tr>
    {% for grade in grades %}
    <tr>

        <td>{{grade['course']}}</td>
        <td>{{grade['grade']}}</td>
        <td>{{grade['comment']}}</td>
    </tr>
    {% endfor %}
</table>


{%endblock%}